<div class="container " style="margin-top: 150px; margin-bottom: 30px;">
   <div class="col-md-12 d-flex justify-content-center">
    <div class="row">
        <form style="width: 500px;" method="post" action="">
  <!-- Email input -->
  <div class="form-outline mb-4">
     <label class="form-label  " for="form1Example1">Tìm Kiếm</label>
    <input type="text" id="form1Example1" class="form-control" name="abc"  placeholder="Tìm Kiếm..."/>
   
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
</form>
    </div>
   </div>
  
</div>